<div class="post" data-title="{{title}}" data-month="{{month}}" data-day="{{day}}" data-year="{{year}}" data-time ="{{time}}">
  <div class="post-contents">

    <div class="post-image-container">
      <img src="{{url}}" alt="{{title}}">
    </div>
    <div class="post-info-container">
      <h3 class:"post-info"> {{title}} </h3>
    </div>

    <div class="post-interaction-container">
      <!--Name: Going/Interested/No -->
      <p class:"post-info"><em><u>When?</u></em> - {{month}} {{day}}, {{year}}, {{time}} </p>
      <p class:"post-info"><em><u>Whats going on?</u></em> - {{description}} </p>
    </div>
  </div>
</div>
